{erl_opts, [debug_info, warnings_as_errors]}.

{port_env,
 [{"DRV_LDFLAGS","deps/zeromq3/src/.libs/libzmq.a -shared $ERL_LDFLAGS -lstdc++"},
  {"darwin", "DRV_LDFLAGS", "deps/zeromq3/src/.libs/libzmq.a -bundle -flat_namespace -undefined suppress $ERL_LDFLAGS"},
  {"DRV_CFLAGS","-Ic_src -Ideps/zeromq3/include -g -Wall -fPIC $ERL_CFLAGS"}]}.

{port_specs, [{"priv/erlzmq_drv.so", ["c_src/*.c"]}]}.

{pre_hooks,[{compile,"make -C c_src"},
            {clean, "make -C c_src clean"}]}.
