{erl_opts, [debug_info, warnings_as_errors]}.

%% Compile nif using port compiler plugin
{plugins, [pc]}.
{artifacts, ["priv/erlzmq_nif.so"]}.
{port_env, [{"CFLAGS", "$CFLAGS"}, {"LDFLAGS", "$LDFLAGS -lzmq"}]}.
{port_specs, [{ "priv/erlzmq_nif.so", ["c_src/*.c"] }]}.

{provider_hooks,
 [
  {pre,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.

{eunit_opts, [
    verbose
]}.
